<template>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div v-if="loading" class="mt-4 text-center">
                        <div class="spinner-border text-danger" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                    <div v-else>
                        <div class="col-12" v-if="Object.keys(products).length">
                            <form action="/updateCart" method="POST" enctype="multipart/form-data">
                                <input type="hidden" name="_token" :value="csrf">
                                <div class="table-responsive">
                                    <table class="table shopping-summery text-center clean">
                                        <thead>
                                            <tr class="main-heading">
                                                <th scope="col">Image</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Quantity</th>
                                                <th scope="col">Subtotal</th>
                                                <th scope="col">Remove</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in products" :key="item.key">
                                                <td class="image product-thumbnail">
                                                    <img :src="'/'+item.image" alt="#">
                                                </td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="#">{{ item.name }}</a></h5>
                                                </td>
                                                <td class="price" data-title="Price">
                                                    <span>{{ rupiah(item.price) }}</span>
                                                </td>
                                                <td class="text-center" data-title="Stock">
                                                    <div class="col-lg-4 col-md-4 offset-md-4">
                                                        <input type="hidden" :value="item.id" name="id[]">
                                                        <input type="number" min="1" name="quantity[]" :value="item.quantity">
                                                    </div>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <span>{{ rupiah(item.price * item.quantity) }}</span>
                                                </td>
                                                <td class="action" data-title="Remove"><a :href="'removeCart/'+item.id" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                                            </tr>
                                            <tr>
                                                <td colspan="6" class="text-end">
                                                    <a href="emptyCart" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cart-action text-end">
                                    <button type="submit" name="updateCart" class="btn mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</button>
                                    <a class="btn" href="/shop"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                                </div>
                            </form>
                            <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                            <div class="row mb-50">
                                <div class="col-lg-6 col-md-12">
                                    <div v-if="currentUser">
                                        <div class="heading_s1 mb-3">
                                            <h4>Shipping Information</h4>
                                        </div>
                                        <form @submit.prevent="handleCost">
                                            <div class="form-row row">
                                                <div class="form-group col-lg-6">
                                                    <div class="custom_select">
                                                        <select required name="province" class="form-control select-active" @change="onChange($event)">
                                                            <option value="">- Select Province -</option>
                                                            <option v-for="item in province.results" :key="item.province_id" :value="item.province_id">
                                                                {{ item.province }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6">
                                                    <div class="custom_select">
                                                        <select required name="city" class="form-control select-active" @change="onChange($event)" v-model="shipping.destination">
                                                            <option value="">- Select City -</option>
                                                            <option v-for="item in city.results" :key="item.city_id" :value="item.city_id">
                                                                {{ item.city_name }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-row row">
                                                <div class="form-group col-lg-6">
                                                    <div class="custom_select">
                                                        <select required name="courier" class="form-control select-active" @change="onChange($event)" v-model="shipping.courier">
                                                            <option value="">- Select Courier -</option>
                                                            <option value="jne">JNE</option>
                                                            <option value="tiki">TIKI</option>
                                                            <option value="pos">POS</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <!-- <div class="form-group col-lg-6">
                                                    <div class="custom_select">
                                                        <select required name="courier_type" class="form-control select-active" @change="onChange($event)">
                                                            <option value="">- Courier Type -</option>
                                                            <option v-for="item in courier_type" :key="item.description" :value="item.description">
                                                                {{ item.description +" | "+item.description + " days" }}
                                                                {{ item.description +" | "+item.description + " days" }}
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div> -->
                                            </div>
                                            <div class="form-row row">
                                                <div class="form-group col-lg-12">
                                                    <div class="textarea-style">
                                                        <textarea name="address" placeholder="Address"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mb-30">
                                                <div class="total-amount">
                                                    <div class="left">
                                                        <div class="coupon">
                                                            <div class="form-group col-lg-6">
                                                                <button class="btn btn-sm">
                                                                    <i class="fi-rs-refresh mr-10"></i> Calculate
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12">
                                    <div class="border p-md-4 p-30 border-radius cart-totals">
                                        <form action="/checkout" method="POST" enctype="multipart/form-data">
                                            <div class="heading_s1 mb-3">
                                                <h4>Cart Totals</h4>
                                            </div>
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <tbody>
                                                        <tr v-if="currentUser">
                                                            <td class="cart_total_label">Cart Subtotal</td>
                                                            <td class="cart_total_amount">
                                                                <span class="font-sm fw-900 text-brand">
                                                                    {{ rupiah(getTotal()) }}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr v-if="currentUser">
                                                            <td class="cart_total_label">Shipping</td>
                                                            <td class="cart_total_amount">
                                                                <span class="font-sm fw-900 text-brand">
                                                                    {{ rupiah(shipping.price) }}
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="cart_total_label">Total</td>
                                                            <td class="cart_total_amount">
                                                                <strong><span class="font-xl fw-900 text-brand">{{ rupiah(getTotal()) }}</span></strong>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                                <div v-if="currentUser" class="d-none">
                                                    <input type="hidden" name="_token" :value="csrf">
                                                    <input type="text" name="order_total" :value="getTotal()">
                                                    <input type="text" name="user_id" :value="currentUser.user.id">
                                                    <input type="text" name="name" :value="currentUser.user.name">
                                                    <input type="text" name="email" :value="currentUser.user.email">
                                                </div>
                                            </div>
                                            <button v-if="currentUser" type="submit" name="checkout" class="btn fw-bold"><i class="fi-rs-box-alt mr-10"></i> Checkout</button>
                                            <router-link v-else to="/login" class="btn"><i class="fi-rs-key mr-10"></i> Login to Checkout</router-link>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-else>
                            <p>Cart is empty</p>
                            <router-link to="/shop" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Browse Products</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import axios from 'axios';
export default {
    name: 'Cart',
    data() {
        return {
            loading: false,
            total: 0,
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            products: [],
            province: [],
            city: [],
            courier_type: [],
            shipping: {
                destination: '',
                courier: '',
                price: 0
            }
        };
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        }
    },
    mounted() {
        this.getData();
    },
    methods: {
        getData() {
            this.loading = true
            axios.get('/getCart')
                .then(response => {
                    this.products = response.data
                    this.loading = false
                })
                .catch(error => {
                    console.log(error);
                });

            axios.get('/getProvince')
                .then(response => {
                    this.province = response.data.rajaongkir
                })
                .catch(error => {
                    console.log(error);
                });
        },
        getTotal() {
            let item = this.products
            var total = 0;
            for (var key in item) {
                total += item[key].price * item[key].quantity
            }
            return total
        },
        onChange(e) {
            if (e.target.name == 'province') {
                this.city = [];
                axios.get('/getCity/'+e.target.value)
                    .then(response => {
                        this.city = response.data.rajaongkir
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }
            else if (e.target.name == 'courier') {
                let destination = this.shipping.destination
                let courier = this.shipping.courier

                axios.post('/getCost', {
                    destination,
                    courier
                })
                .then(response => {
                    // console.log(response.data.rajaongkir.results);
                    // this.courier_type = response.data.rajaongkir.results;
                    let res = response.data.rajaongkir.results;

                    res.forEach(function (a, xx) {
                        let x = a.costs.length;
                        for (let index = 0; index < x; index++) {
                            console.log(a.costs[index]);
                        }
                    })

                }).catch(error => {
                    console.log(error)
                })
            }
            else if (e.target.name == 'courier_type') {
                this.shipping.price = e.target.value
            }
        },
        handleCost() {

        }
    }
}
</script>
