<template>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Login
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div v-if="message" class="alert alert-danger alert-dismissible fade show mt-n5 mb-3r" role="alert">
                                {{ message }}
                            </div>
                            <div class="col-lg-5">
                                <div
                                    class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Login</h3>
                                        </div>
                                        <Form @submit="handleLogin" :validation-schema="schema">
                                            <div class="form-group">
                                                <Field name="email" type="email" placeholder="Email"/>
                                                <ErrorMessage name="email" class="text-danger form-text" />
                                            </div>
                                            <div class="form-group">
                                                <Field name="password" type="password" placeholder="Password"/>
                                                <ErrorMessage name="password" class="text-danger form-text" />
                                            </div>
                                            <div class="login_footer form-group">
                                                <div class="chek-form">
                                                    <div class="custome-checkbox">
                                                        <input class="form-check-input" type="checkbox" name="checkbox"
                                                            id="exampleCheckbox1" value="">
                                                        <label class="form-check-label"
                                                            for="exampleCheckbox1"><span>Remember me</span></label>
                                                    </div>
                                                </div>
                                                <a class="text-muted" href="#">Forgot password?</a>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-fill-out btn-block hover-up" :disabled="loading">
                                                    <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    <span v-else>Login</span>
                                                </button>
                                            </div>
                                        </form>
                                        <div class="text-muted text-center">Dont have account?
                                            <router-link to="/register">Register</router-link>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                                <img src="assets/imgs/login.png" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>


<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: "Login",
    components: {
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schema = yup.object().shape({
            email: yup.string().required("Email is required").email("Email is invalid"),
            password: yup.string().required("Password is required"),
        });

        return {
            loading: false,
            message: "",
            schema,
        };
    },
    computed: {
        loggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },
    created() {
        if (this.loggedIn) {
            this.$router.push("/");
        }
    },
    methods: {
        handleLogin(user) {
            this.successful = false;
            this.loading = true;

            this.$store.dispatch("auth/login", user).then(
                () => {
                    setTimeout(() => {
                        this.loading = false;
                        this.$router.go("/");
                    }, 2000);
                },
                (error) => {
                    this.successful = false;
                    this.loading = false;
                    this.message =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
    },
};
</script>