<template>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Register
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div v-if="message" class="alert alert-danger alert-dismissible fade show mt-n5 mb-3r" role="alert">
                                {{ message }}
                            </div>
                            <div class="col-lg-5">
                                <div class="login_wrap widget-taber-content p-30 background-white border-radius-5">
                                    <div class="padding_eight_all bg-white">
                                        <div class="heading_s1">
                                            <h3 class="mb-30">Create an Account</h3>
                                        </div>
                                        <Form @submit="handleRegister" :validation-schema="schema">
                                            <div class="form-group">
                                                <Field name="name" type="name" placeholder="Your Name"/>
                                                <ErrorMessage name="name" class="text-danger form-text" />
                                            </div>
                                            <div class="form-group">
                                                <Field name="email" type="email" placeholder="Email"/>
                                                <ErrorMessage name="email" class="text-danger form-text" />
                                            </div>
                                            <div class="form-group">
                                                <Field name="password" type="password" placeholder="Password"/>
                                                <ErrorMessage name="password" class="text-danger form-text" />
                                            </div>
                                            <div class="form-group">
                                                <Field name="password_confirmation" type="password" placeholder="Re-type Password"/>
                                                <ErrorMessage name="password_confirmation" class="text-danger form-text" />
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-fill-out btn-block hover-up" :disabled="loading">
                                                    <span v-if="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    <span v-else>Register</span>
                                                </button>
                                            </div>
                                        </form>
                                        <div class="text-muted text-center">Already have an account? <router-link to="/login">Login</router-link></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-6">
                               <img src="assets/imgs/login.png" loading="lazy">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import { Form, Field, ErrorMessage } from "vee-validate";
import * as yup from "yup";

export default {
    name: "Register",
    components: {
        Form,
        Field,
        ErrorMessage,
    },
    data() {
        const schema = yup.object().shape({
            name: yup
                .string()
                .required("Name is required")
                .min(3, "Must be at least 3 characters")
                .max(20, "Must be maximum 20 characters"),
            email: yup
                .string()
                .required("Email is required")
                .email("Email is invalid")
                .max(50, "Must be maximum 50 characters"),
            password: yup
                .string()
                .required("Password is required!")
                .min(6, "Must be at least 6 characters!")
                .max(40, "Must be maximum 40 characters!"),
            password_confirmation: yup
                .string()
                .oneOf([yup.ref('password'), null], 'Passwords must match')
        });

        return {
            loading: false,
            message: "",
            schema,
        };
    },
    computed: {
        loggedIn() {
            return this.$store.state.auth.status.loggedIn;
        },
    },
    mounted() {
        if (this.loggedIn) {
            this.$router.push("/");
        }
    },
    methods: {
        handleRegister(user) {
            this.message = "";
            this.loading = true;

            this.$store.dispatch("auth/register", user).then(
                () => {
                    setTimeout(() => {
                        this.loading = false;
                        this.$router.go("/");
                    }, 2000);
                },
                (error) => {
                    this.loading = false;
                    this.message =
                        (error.response &&
                            error.response.data &&
                            error.response.data.message) ||
                        error.message ||
                        error.toString();
                }
            );
        },
    },
};
</script>