<template>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>

        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <h3 v-if="slug" class="section-title mb-20">Category <span>{{ slug }}</span></h3>
                        <div class="shop-product-fillter" v-if="this.$route.query.search">
                            <div class="totall-product">
                                <p> Search result for <strong class="text-brand">{{ this.$route.query.search }}</strong></p>
                            </div>
                        </div>

                        <div class="row product-grid-3">
                        <!-- {{ products }} -->
                            <div class="col-lg-4 col-md-4 col-6 col-sm-6" v-for="item in products" :key="item.id">

                                <Modal :product="item" :price=rupiah(item.product_price) />

                                <div class="product-cart-wrap mb-30">
                                    <div class="product-img-action-wrap">
                                        <div class="product-img product-img-zoom">
                                            <a aria-label="Quick view" data-bs-toggle="modal" :data-bs-target='"#quickViewModal-"+item.slug'>
                                                <img class="default-img" :src="'/'+item.product_image" alt="" loading="lazy">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a :href="'/category/'+item.category.slug">{{ item.category.category_name }}</a>
                                        </div>
                                        <h2>
                                            <a aria-label="Quick view" data-bs-toggle="modal" :data-bs-target='"#quickViewModal-"+item.slug'>
                                                {{ item.product_name }}
                                            </a>
                                        </h2>
                                        <div class="product-price">
                                            <span>{{ rupiah(item.product_price) }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <infinite-loading @infinite="loadData" ref="infload">
                                <template #spinner>
                                    <div class="mt-4 text-center">
                                        <div class="spinner-border text-danger" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </template>
                                <template #complete>
                                    <div class="col-lg-12 col-md-12 text-center">
                                        <p class="mt-4 mb-10 text-brand font-sm">
                                            - No more results -
                                        </p>
                                    </div>
                                </template>
                            </infinite-loading>
                        </div>
                    </div>
                    <div class="col-lg-3 primary-sidebar sticky-sidebar">
                        <div class="row">
                            <div class="col-lg-12 col-mg-6"></div>
                            <div class="col-lg-12 col-mg-6"></div>
                        </div>
                        <div class="widget-category mb-30">
                            <h5 class="section-title style-1 mb-30 wow fadeIn animated">Category</h5>
                            <ul class="categories">
                                <li v-for="item in categories" :key="item.key">
                                    <a :href="'/category/'+item.slug">{{ item.category_name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="sidebar-widget product-sidebar  mb-30 p-30 bg-grey border-radius-10">
                            <div class="widget-header position-relative mb-20 pb-10">
                                <h5 class="widget-title mb-10">New products</h5>
                                <div class="bt-1 border-color-1"></div>
                            </div>
                            <div class="single-post clearfix" v-for="item in newProducts" :key="item.key">

                                <Modal :product="item" :price=rupiah(item.product_price) />

                                <div class="image">
                                    <img class="default-img" :src="'/'+item.product_image" alt="" loading="lazy" />
                                </div>
                                <div class="content pt-10">
                                    <h5>
                                        <a href="#" aria-label="Quick view" data-bs-toggle="modal" :data-bs-target='"#quickViewModal-"+item.slug'>
                                            {{ item.product_name }}
                                        </a>
                                    </h5>
                                    <p class="price mb-0 mt-5">{{ rupiah(item.product_price) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import axios from 'axios';
import InfiniteLoading from "v3-infinite-loading";
import "v3-infinite-loading/lib/style.css";
export default {
    name: 'Home',
    data() {
        return {
            categories: [],
            products: [],
            newProducts: [],
            page: 1,
            apiGetShop: '',
        };
    },
    props: {
		slug: String
	},
    mounted() {
        this.getData();
        this.getUrlParam();
    },
    components: {
        "infinite-loading": InfiniteLoading,
    },
    methods: {
        getData() {
            axios.get('/getCategories')
                .then(response => this.categories = response.data)
                .catch(error => {
                    console.log(error);
                });

            axios.get('/getShop')
                .then(response => {
                    this.newProducts = response.data.newProducts
                })
                .catch(error => {
                    console.log(error);
                });
        },

        async loadData(state) {
            console.log("loading...", state);
            try {
                const response = await axios.get(this.apiGetShop + '&page=' + this.page)
                .then(response => {
                    return response.data.products
                })
                .catch(error => {
                    console.log(error);
                });

                const json = await response.data;

                if (this.page > response.last_page) {
                    state.complete();
                }
                else {
                    this.products.push(...json);
                    state.loaded();
                }
                this.page++;
            } catch (error) {
                state.error();
                console.log(error);
            }
        },

        getUrlParam()
        {
            if (this.slug) {
                this.apiGetShop = '/getShop/'+this.slug+'?';
            }
            else {
                this.apiGetShop = '/getShop?';
            }

            let query = this.$route.query.search;
            if (query) {
                this.apiGetShop = this.apiGetShop+'search='+query
            }
        }
    }
}
</script>