<template>
    <header class="header-area header-style-1 header-height-2">
        <div class="header-top header-top-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-4">
                        <div class="header-info header-info-right">
                            <ul>
                                <li v-if="currentUser">
                                    <i class="fi-rs-key"></i>
                                    <router-link to="/profile">Hi, {{ currentUser.user.name }}</router-link> / <a href="#" @click.prevent="logout">Logout</a>
                                </li>
                                <li v-else>
                                    <i class="fi-rs-key"></i>
                                    <router-link to="/login">Login</router-link> / <router-link to="/register">Register</router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-middle header-middle-ptb-1 d-none d-lg-block">
            <div class="container">
                <div class="header-wrap">
                    <div class="logo logo-width-1">
                        <a href="/"><img src="/assets/imgs/logo/logo.png" alt="logo"></a>
                    </div>
                    <div class="header-right">
                        <div class="search-style-1">
                            <form action="#" id="form-search">
                                <input name="search" type="text" placeholder="Search for items..." :value=this.$route.query.search />
                            </form>
                        </div>
                        <div class="header-action-right">
                            <div class="header-action-2">
                                <div class="header-action-icon-2">
                                    <router-link class="mini-cart-icon" to="/cart">
                                        <img alt="Surfside Media" src="/assets/imgs/theme/icons/icon-cart.svg">
                                        <span class="pro-count blue">{{ cart }}</span>
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom header-bottom-bg-color sticky-bar">
            <div class="container">
                <div class="header-wrap header-space-between position-relative">
                    <div class="logo logo-width-1 d-block d-lg-none">
                        <a href="/"><img src="/assets/imgs/logo/logo.png" alt="logo"></a>
                    </div>

                    <div class="header-nav d-none d-lg-flex">
                        <div class="main-categori-wrap d-none d-lg-block">
                            <a class="categori-button-active" href="#">
                                <span class="fi-rs-apps"></span> Browse Categories
                            </a>
                            <div class="categori-dropdown-wrap categori-dropdown-active-large">
                                <ul>
                                    <li v-for="item in categories" :key="item.key">
                                        <!-- <router-link :to="'/category/'+item.slug">{{ item.category_name }}</router-link> -->
                                        <a :href="'/category/'+item.slug">{{ item.category_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="main-menu main-menu-padding-1 main-menu-lh-2 d-none d-lg-block">
                            <nav>
                                <ul>
                                    <li><a href="/">Home </a></li>
                                    <li><router-link to="/shop">Shop</router-link></li>
                                    <li><a href="#">Blog</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="hotline d-none d-lg-block">
                        <p><i class="fi-rs-smartphone"></i><span>Call</span> (+1) 0000-000-000 </p>
                    </div>

                    <div class="header-action-right d-block d-lg-none">
                        <div class="header-action-2">
                            <div class="header-action-icon-2">
                                <router-link class="mini-cart-icon" to="/cart">
                                    <img alt="Surfside Media" src="/assets/imgs/theme/icons/icon-cart.svg">
                                    <span class="pro-count white">{{ cart }}</span>
                                </router-link>
                            </div>
                            <div class="header-action-icon-2 d-block d-lg-none">
                                <div class="burger-icon burger-icon-white">
                                    <span class="burger-icon-top"></span>
                                    <span class="burger-icon-mid"></span>
                                    <span class="burger-icon-bottom"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</template>

<script>
import axios from 'axios';
export default {
    data() {
        return {
            categories: [],
            cart: 0
        }
    },
    computed: {
        currentUser() {
            return this.$store.state.auth.user;
        },
        showAdminBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_ADMIN');
            }

            return false;
        },
        showModeratorBoard() {
            if (this.currentUser && this.currentUser['roles']) {
                return this.currentUser['roles'].includes('ROLE_MODERATOR');
            }

            return false;
        }
    },
    mounted() {
        axios.get('/getCategories')
            .then(response => {
                this.categories = response.data
            })
            .catch(error => {
                console.log(error)
            });

        axios.get('/countCart')
            .then(response => {
                this.cart = response.data
            })
            .catch(error => {
                console.log(error)
            });
    },
    methods: {
        logout() {
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
        }
    }
};
</script>