<template>
    <div>
        <h1>From Layout</h1>
        <a href="/shop">Shop</a> <br>
        <a href="/login">Login</a>
    </div>
</template>

<script>
    export default {
        name: 'Layout',
    }
</script>