<template>
    <div class="modal fade custom-modal" :id='"quickViewModal-"+product.slug' tabindex="-1" aria-labelledby="quickViewModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-gallery">
                                <img :src="'/'+product.product_image" alt="" loading="lazy">
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="detail-info">
                                <h3 class="title-detail mt-30">{{ product.product_name}}</h3>
                                <div class="product-detail-rating">
                                    <div class="pro-details-brand">
                                        <span> Category: <a :href="'/category/'+product.category.slug">{{ product.category.category_name }}</a></span>
                                    </div>
                                </div>
                                <div class="clearfix product-price-cover">
                                    <div class="product-price primary-color float-left">
                                        <ins><span class="text-brand">{{ price }}</span></ins>
                                    </div>
                                </div>
                                <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                <div class="short-desc mb-30">
                                    <p class="font-sm">{{ product.product_desc }}</p>
                                </div>
                                <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                <div class="detail-extralink">
                                    <form action="/addCart" method="POST" enctype="multipart/form-data">
                                        <input type="hidden" name="_token" :value="csrf">
                                        <input type="hidden" :value=product.id name="id">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4">
                                                <input type="number" min="1" name="quantity" value="1">
                                            </div>
                                            <div class="col-lg-8 col-md-8">
                                                <button type="submit" class="button button-add-to-cart">Add to cart</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Modal',
    data() {
        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content')
        }
    },
    props: {
		product: Object,
		price: String
	},
}
</script>